.customers {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  &__block {
    display: flex;
    flex-direction: column;
    width: 29%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #333333;
  }

    &__block:nth-child(3n+3) {
    width: 40%;
    margin-right: 0;
  }

/*  &__block:nth-child(3n+1) {
    order: 1;
  }

  &__block:nth-child(3n+2) {
    order: 2;
  }

  &__block:nth-child(3n) {
    order: 3;
  } */

  &__button {
    align-self: center;
    width: 50px;
  }
}
