.customers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;

  &__block {
    display: flex;
    flex-direction: column;
    width: calc(30% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 30px;
    word-wrap: break-word;
    border: 1px solid #9a9a9a;

    &--more {
      display: none;
      color: #9a9a9a;
    }

    &--fullname {
      text-transform: uppercase;
    }
  }

  &__block:hover &__block--more{
    display: block;
  }

  &__block:nth-child(3n+3) {
    width: calc(40% - 10px);
    margin-right: 0;
  }

  &__button {
    align-self: center;
    width: 60px;
    border: 1px solid #fda504;
    border-radius: 5px;
  }
}
