.page-header {
  height: 45px;
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,153,0,1) 100%);

  &__wrapper {
    display: flex;
    align-items: center;
    height: 45px;

  }

  &__title {
    padding-left: 15px;
  }
}
